body {
  font-family: 'Poppins', sans-serif;
  background-color: #E6F2FF;
  margin: 0;
  padding: 16px;
  text-align: center;
  color: #2C3E50;
  overflow-x: hidden;
}

h1 {
  font-size: 6vw;
  margin-bottom: 20px;
  color: #333;
}

#game {
  max-width: 400px;
  margin: auto;
}

#dropzone-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}

.row {
  display: flex;
  gap: 12px;
  flex-wrap: wrap;
  justify-content: center;
}

.dropzone {
  width: 18vw;
  height: 18vw;
  max-width: 100px;
  max-height: 100px;
  background-color: #F5F5F5;
  border: 2px dashed #D66C4D;
  border-radius: 12px;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.dropzone.drag-target {
  background-color: #ffe4c4;
  transform: scale(1.05);
}

.draggable {
  -webkit-user-drag: none;
  touch-action: none;
}

.dropzone.large {
  width: 60vw;
  max-width: 300px;
}

.dropzone:hover {
  background-color: #fff3e0;
}

.draggable {
  width: 18vw;
  height: 18vw;
  max-width: 100px;
  max-height: 100px;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  transition: transform 0.2s ease;
  touch-action: none; /* <- wichtig für Safari */
}

#parts {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
}

.hidden {
  display: none;
}

#success {
  padding: 20px;
  background-color: #e3c6f3;
  color: rgb(48, 31, 31);
  border-radius: 16px;
  box-shadow: 0 0 20px rgba(0,0,0,0.2);
  margin-top: 30px;
  font-size: 1.1rem;
}

#success img {
  width: 100%;
  max-width: 300px;
  margin-top: 20px;
}



